{% extends "medical_devices/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{% if object.devices.image %}{{ object.devices.image.url }}{% else %}#{% endif %}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.Author }}</a>
            <a class="mr-2" href="#">{{ object.Company }}</a>
            <small class="article-category">{{ object.Category }}</small>
            {% if object.Author == user %}
               <div>
                 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'Device-update' object.id %}">Update</a>
                 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'Device-delete' object.id %}">Delete</a>

               </div>
               
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.Name }}</h2>
        <p class="article-content">{{ object.Content }}</p>
    </div>
  </article>
{% endblock content %}



    